body{
    display: grid;
    grid-template-areas: 
    'menu'
    'filtros'
    'principal'
    'pie'
    ;
    margin: 0%;
    font-family: "Montserrat";
}

nav{
    grid-area: menu;
    height: 100px;
    border-bottom: 0.5px solid gray;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.hamburguer{
    align-self: center;
}

nav img{
    width: 210px;
    margin-right: 60px;
    margin-top: 5px;
    margin-left: 3px;
}

.filtros{
    grid-area: filtros ;
    background-color: black; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
}

.filtros h1{
    font-weight: 200;
    margin: 0%;
    padding-bottom: 5px;
}

select{
    height: 35px;
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 15px;
}

main{
    grid-area: principal;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 1fr;
    border: 1px solid black;
    margin: 30px;
}

.card img{width: 100%;}

.card div{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.card-text{
    margin: 0%;
}

.card-price{
    font-weight: bold;
}

button{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15%;
    align-self: center;
   
}

footer{
    grid-area: pie;
}

select{width: 100%;}

@media (max-width: 576px){
    .ocultas{
        display: none;
    }
}

@media (min-width: 576px) {
    body{
        grid-template-columns: 1fr 6fr;
        grid-template-areas: 
        'menu menu'
        'filtros principal'
        'pie pie';
    }

    nav img{
        width: 400px;
        margin-top: 15px;
        margin-left: 25px;
    }
    
    .menu-item{
        display: flex;
        flex-direction: column;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 40%;
    }
}