body{
    display: grid;
    grid-template-areas: 
    'menu'
    'filtros'
    'principal'
    'pie'
    ;
    margin: 0%;
    font-family: "Montserrat";
    min-height: 100vh
}

nav{
    grid-area: menu;
    min-height: 90px;
    border-bottom: 0.5px solid gray;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 90px;
    padding-top: 10px;
    gap: 12px ;
}

.logo img{
    width: 50px;
    height: 40px;
}
.luxe{
    display: flex;
    font-size: 20px;
}

.hamburguer{
    margin-right: 15px;
}

.ocultas2{
    display: none;
}

.filtros{
    grid-area: filtros ;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filtros p{
    font-size: 20px;
    margin: 0%;
    padding-bottom: 10px;
    padding-top: 5px;
}

select{
    height: 35px;
    max-width: 80%;
    border-radius: 8px;
    border-color: #d9bc8b;
    margin-bottom: 10px;
    width: 100%;
    font-family: "Montserrat";
}

main{
    grid-area: principal;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 1fr;
    margin: 30px;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0%;
}

.card h2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-text{
    margin: 0%;
    text-align: center;
}

.card-price{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card button {
    background-color: black;
    color: white;
    padding: 16px; /* Aumenta el padding */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    width: 200px; /* Ajusta el ancho */
    height: 50px; 
    align-self: center;
    font-family: "Montserrat";
    border: none;
    border-radius: 5px;
    text-align: center;
}

.paginas{
    display: flex;
    justify-content: center;
    margin: 0%;
    margin-top: 23px;
}

.paginas button{
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
    border: 1px solid #d9bc8b;
    border-radius: 2px;
}

footer{
    grid-area: pie;
    background-color: black;
    color:white;
    min-height: 100px;
    text-align: center;
    margin-top: 35px;
}

.icon{
    padding-top: 25px;
}

footer p{
    margin-top: 0%;
    padding-bottom: 10px;
    padding-top: 3px;
}

.ocultas{
    display: none;
}

@media (min-width: 576px) {
    body{
        grid-template-columns: 2fr 6fr;
        grid-template-areas: 
        'menu filtros'
        'menu principal'
        'pie principal';
        height: 100vh;
    }

    .hamburguer{
        display: none;
    }

    nav{
        border-right: 0.5px solid gray;
    }

    .inicio{
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
    }

    .logo{
        margin-top: 20px;
        margin-left: 30px;
    }

    .logo img{
        width: 70px;
        height: 60px;
    }

    .ocultas{
        display: inline;
    }

    .ocultas2{
        display: inline;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        
    }
}

/*
    nav img{
        width: 400px;
        margin-top: 15px;
        margin-left: 25px;
    }
    
    .menu-item{
        display: flex;
        flex-direction: column;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 40%;
    }
}
    */