body{
    display: grid;
    grid-template-areas: 
    'menu'
    'filtros'
    'principal'
    'pie'
    ;
    margin: 0%;
    font-family: "Montserrat";
}

nav{
    grid-area: menu;
    height: 100px;
    border-bottom: 0.5px solid gray;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 90px;
    gap: 12px ;
}

.logo img{
    width: 50px;
    height: 40px;
}
.luxe{
    display: flex;
    font-size: 20px;
}

.hamburguer{
    margin-right: 15px;
}

.filtros{
    grid-area: filtros ;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filtros p{
    font-size: 20px;
    margin: 0%;
    padding-bottom: 10px;
    padding-top: 5px;
}

select{
    height: 35px;
    max-width: 80%;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    font-family: "Montserrat";
}

main{
    grid-area: principal;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 1fr;
    margin: 30px;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0%;
}

.card h2{
    margin-top: 0%;
    display: flex;
    justify-content: center;
}

.card-text{
    margin: 0%;
    text-align: center;
}

.card-price{
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card button{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    align-self: center;
    font-family: "Montserrat";
    border: none;
    border-radius: 5px;
}

.paginas{
    display: flex;
    justify-content: center;
    margin: 0%;
}

.paginas button{
    width: 40px;
    height: 40px;
    background-color: white;
    border-color: #d9bc8b;
    border-radius: 2px;

}
footer{
    grid-area: pie;
    color:black;
    text-align: center;
    margin: 0%;
}
 
.icon{
}

@media (max-width: 576px){
    .ocultas{
        display: none;
    }
}

@media (min-width: 576px) {
    body{
        grid-template-columns: 1fr 6fr;
        grid-template-areas: 
        'menu menu'
        'filtros principal'
        'pie pie';
    }

    nav img{
        width: 400px;
        margin-top: 15px;
        margin-left: 25px;
    }
    
    .menu-item{
        display: flex;
        flex-direction: column;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 40%;
    }
}